*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter' , sans-serif;
}

html{
    scroll-behavior: smooth;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/main_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
header{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}
.header_logo{
    margin-left: 40px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav_wrapper li a{
    padding-right: 40px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

/* MAIN PAGE */

section{
    max-width: 1440px;
    margin: 0 auto;
}
.main_wrapper{
    margin-top: 200px;
    text-align: center;
    padding-bottom: 274px;
}
.main_wrapper img{
    margin-bottom: 24px;
}
.main_wrapper h1{
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    color: #fff;
    margin-bottom: 24px;
}
.main_wrapper p{
    max-width: 763px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 48px;
}
.main_wrapper button{
    padding: 5px 41px;
    font-style: normal;
    border: 2px solid #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

/* ABOUT US */

.about_us{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/bg_coffee.png);
    background-repeat: no-repeat;
    background-position: center;
}
.about_wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding: 144px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_left_item{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.about_left_item h1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}
.about_left_item p{
    max-width: 272px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #000000;
}
.about_left_item img{
    margin-left: 16px;
}

.about_right_item{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.about_right_item img{
    margin-right: 16px;
}
.about_right_item h1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;   
}
.about_right_item p{
    max-width: 272px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

/* about_footer */

.about_footer{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/about_footer_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.about_footer_in{
    text-align: center;
    padding: 96px 0;
}
.about_footer_in h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.about_footer_border{
    display: block;
    margin: 24px auto;
    height: 1px;
    max-width: 189px;
    background-color: #fff;
}
.about_footer_in p{
    max-width: 474px;
    margin: 0 auto 48px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.about_footer_in button{
    padding: 5px 41px;
    font-style: normal;
    border: 2px solid #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* menu_start */
.menu {
    max-width: 1920px;
}

.menu_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: #EEEEEE;
}

.menu_in {
    max-width: 1120px;
    margin: 0 auto;
}

.our_menu {
    padding-top: 96px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;   
}

.menu_border_bottom {
    display: block;
    margin: 24px auto;
}

.menu_tittle {
    width: 474px;
    height: 48px;
    margin: 0 auto 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.menu_btn {
    max-width: 145px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
}

.menu_btn a button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color:#18171A;
    color: #fff;
    transition: all 0.7s ease;
    margin-bottom: 48px;
}

.menu_btn a button:hover {
    transform: scale(1.3);
    box-shadow: 0 0 10px #d20b11;
    border-radius: 0;
}

.menu_card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
}

.menu_cards_left {
    max-width: 550px;
    margin-right: 30px;
}

.menu_card_in {
    cursor: pointer;
    display: flex;
    margin-bottom: 24px;
    transition: all 0.5s ease;
}

.menu_card_in:hover {
    border-radius: 5px;
    transform: scale(1.08);
    box-shadow: 0 0 5px #00000049
       
}

.menu_left_img img {
    cursor: pointer;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 24px;
    transition: all 0.5s ease;
}

.menu_left_tittle {
    display: flex;
    justify-content: space-between;
}


.menu_left_tittle h1 {
    width: 352px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
}

.menu_left_tittle p {
    width: 420px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}
/* menu_finesh */

/* coment_start */

.coment_wrapper {
    background-image: url(../images/bg_section.png);
    background-repeat: no-repeat;
    background-position: center;
}

.coment_wrapper h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-top: 96px;
}

.coment_wrapper img {
    display: block;
    margin: 24px auto 24px;
}

.coment_wrapper p {
    width: 735px;
    height: 72px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;   
    color: #FFFFFF;
    margin-bottom: 24px;   
}

.coment_wrapper h4 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
}

.around {
    width: 53px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 103px;
}

/* Coment_finesh */

/* news_start */

.news_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: #EEEEEE;
}

.news_in {
    max-width: 1120px;
    margin: 0 auto;
}

.news_in h1 {
    text-align: center;
    padding-top: 96px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.news_border {
    display: block;
    width: 189px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.news_p {
    width: 474px;
    height: 48px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 48px;
}

.news_card_wrapper {
    display: flex;
    justify-content: space-between;
}

.news_cards  {
    width: 352px;
    cursor: pointer;
    transition: all 0.7s ease;
    padding-bottom: 96px;
}

/* .news_cards:hover {
    transform: scale(1.08);
    border-radius: 5px;
    box-shadow: 0 0 10px #18171A;
}

.news_cards img:hover {
    border-radius: 5px;
} */

.news_cards h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase; 
    margin-top: 24px;
}

.news_cards p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    margin-bottom: 24px;
}

.news_cards h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.footer_top_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/footer_top_bgi.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer_top_in {
    max-width: 1110px;
    margin: 0 auto;
}

.footer_top_in h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    padding-top: 96px;
    margin-bottom: 24px;
}

.footer_border_bottom {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}

.footer_tittle {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
}

.footer_top_cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
}


.footer_card_img_1 {
    width: 245px;
    height: 239px;    
    background-image: url(../images/foot_top_img.png);
    border-radius: 50%;
}

.footer_card_img_2 {
    width: 245px;
    height: 239px;    
    background-image: url(../images/foot_top_img_2.png);
    border-radius: 50%;
}

.footer_card_img_3 {
    width: 245px;
    height: 239px;    
    background-image: url(../images/foot_top_img_3.png);
    border-radius: 50%;
}

.footer_cards_in h2 {
    margin: 24px 0;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
}

.footer_cards_in p {
    width: 256px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer_p_3 {
    max-width: 234px;
}

.footer_bottom{
    max-width: 1440px;
    margin: 0 auto;
    background: #111111;
}
.footer_bottom_in{
    max-width: 474px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer_bottom_in h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.footer_bottom_in .footer_bottom_border{
    display: block;
    max-width: 189px;
    margin: 24px auto;
    border: 1px solid #FFFFFF;
}
.footer_bottom_in p{
    max-width: 474px;
    margin-bottom: 48px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;   
}
.footer_bottom_in form{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_bottom_in form input{
    padding: 0 24px 0 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
}
.footer_bottom_in form button{
    padding: 0 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: transparent;
    cursor: pointer;
}
.footer_bottom_in form button:hover{
    background-color: #FFFFFF;
    color: #111111;
}

.footer_nav{
    max-width: 1120px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_bottom_tittle{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.footer_nav_item ul{
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_nav_item ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.footer_icons{
    width: 125px;
    display: flex;
    justify-content: space-between;
}
.footer_icons_item{
    padding: 0 6px;
    background-color: #252525;
    border-radius: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.footer_icons_item:hover{
    background-color: #EEEEEE;
    color: #252525;
}